<h1><%= @my_project.name %></h1>

<ul>

	<% @entries_array.each do |the_entry| %>

	<li>

		<%= the_entry.hours %> hours

		<%= the_entry.minutes %> minutes

		<%= the_entry.date %> 

		<p> <%= the_entry.comments %> </p>

		<%= link_to('Delete', project_time_entry_path(@my_project, the_entry), method: :delete, data:{confirm: 'Are you sure?'}) %>
	</li>


	<% end %>

</ul>


<a href="/projects/<%= @my_project.id %>/time_entries/new">
  Add a time entry to <%= @my_project.name %>
</a>

<a href="/projects/:project_id/time_entries/:id/edit">  
  EDIT
 </a>

 <